#intro {
  padding-top: 160px;
  padding-bottom: 120px;
  .sectionTitle {
    color: forestgreen;
  }
}

// #benefits {
//   background-color: papayawhip;
//   .body-text {
//     color: red;
//   }
// }