#intro {
  padding-top: 160px;
  padding-bottom: 120px;
  .sectionTitle {
    color: forestgreen;
  }
}

#benefits {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f1f6f9;
}