* {
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin:0;
  padding:0
}
ol,
ul {
  list-style:none
}
a {
  text-decoration:none
}
button,
select {
  border:none;
  outline:none;
  background:none;
  font-family:inherit
}
a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color:transparent
}
:root {
  overflow-x:hidden;
  height:100%
}
body {
  background:#fff;
  min-height:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  /* font-size:62.5%;
  font-family:Open Sans,sans-serif;
  font-weight:400;
  font-style:normal;
  -webkit-text-size-adjust:100%;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:optimizeLegibility;
  -webkit-font-feature-settings:"pnum";
  font-feature-settings:"pnum";
  font-variant-numeric:proportional-nums */
}
.globalContent {
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1
}
.container {
  max-width:1040px; /* large */
  margin:0 auto;
  padding:0 20px;
  width:100%;
}
/* mobile first */
.sectionTitle {
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  color: #160b35;
}

.bodyTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #160b35;
}

.bodyText {
  font-weight:400;
  font-size: 17px;
  line-height: 28px;
  color: #939a9e;
}

@media (min-width: 670px) {
  .sectionTitle {
    font-size: 42px;
    line-height: 52px;
  }
}